.testimonials{
    color: black;
    text-align: center;
    font-size: 1rem;
    font-family: 'lora', serif;
    margin-top: 7.5rem;
}
.stars{
    width: 6rem;
}
.note1{
    display: flex;
    flex-direction: row;
    padding: .6rem;
}
.months{
    margin-left: 1.2rem;
}
.N{
    font-weight: 3rem;
}
