
.contact{
    border: none;
    background-color:  #d07ea7;
    color: #fff;
    border-radius: 2px;
    padding: 12px 50px;
    // margin-left: 470px;
}
// .heroimage{
//     margin-top: 5rem;
//     margin-left: 150px;
//     margin-bottom: 20px;
// }
.stars{
    width: 100px;
}
.review{
    justify-content: center;
    margin-top: 50px;
}
.read2{
margin-left: 20px;
}
.gallery{
    margin-top: 20px;
}
.picture{
    width:18.75rem;
    height: 300px;
}
.address{
    font-size: 20px;
    margin-left: 200px;
    margin-top: 70px;
}
// .pic{

// }
.get{
    margin-left: 200px;
}
.text{
    margin-left: 200px;
    margin-top: 20px;
    margin-bottom: 70px;
}