.herotext{
    text-align: center;
    // margin-top: 50px;
}
.contact{
    border: none;
    background-color:  #d07ea7;
    color: #fff;
    border-radius: 2px;
    padding: 12px 50px;
    margin-left: 470px;
}
.heroimage{
    margin-top: 5rem;
    margin-left: 150px;
    margin-bottom: 20px;
}
