
.contact{
    border: none;
    background-color:  #d07ea7;
    color: #fff;
    border-radius: .1rem;
    padding: .75rem 3rem;
    // margin-left: 470px;
}
// .heroimage{
//     margin-top: 5rem;
//     margin-left: 150px;
//     margin-bottom: 20px;
// }
.stars{
    width: 6rem;
}
.review{
    justify-content: center;
    margin-top: 3rem;
}
.read2{
margin-left: 1.2rem;
}
.gallery{
    margin-top: 1.2rem;
}
// .picture{
//     // width:18rem;
// }
.address{
    font-size: 1.2rem;
    margin-left: 12.5rem;
    margin-top: 4.3rem;
}

.get{
    margin-left: 12.5rem;
}
.text{
    margin-left: 12.5rem;
    margin-top: 1.2rem;
    margin-bottom: 4.3rem;
}